<div class="docsSidebar">
  {{ $currentPage := . }}
  {{ range .Site.Sections }}
  {{ if eq .Title "Docs" }}
  {{ range .Pages }}
  <div class="mb-3">
    {{ if .IsSection }}
    <h6>{{ .Title }}</h6>
    {{ range .Pages }}
    {{ $isCurrent := eq $currentPage .}}
    {{ if .Params.external }}
      <a href="{{ .Params.forward }}" class="d-block">{{ .Title }} <i class="fas fa-external-link-square-alt"></i></a>
    {{ else }}
      <a href="{{ .RelPermalink }}" class="d-block {{ if $isCurrent}}text-primary{{ end }}">
        {{ if $isCurrent}}>{{ end }} {{ .Title }}
      </a>
    {{ end }}
    {{ end }}
    {{ else if and .IsPage .Content }}
    {{ $isCurrent := eq $currentPage .}}
    <a href="{{ .RelPermalink }}" class="d-block {{ if $isCurrent}}text-primary{{ end }}">
      {{ if $isCurrent}}>{{ end }} {{ .Title }}
    </a>
    {{ end }}
  </div>
  {{ end }}
  {{ end }}
  {{ end }}
</div>
