<div class="docsSidebar">
  <h1 class="my-3">Docs</h1>
  {{ $currentPage := . }}
  {{ range .Site.Sections }}
  {{ if eq .Title "Docs" }}
  {{ range $index, $page := .Pages }}
  <div class="mb-3">
    {{ if $page.IsSection }}
    {{ $isCurrentSection := $page.InSection $currentPage }}
    <h6 class="cursor-pointer" data-toggle="collapse" data-target="#collapse{{ $index }}">{{ $page.Title }}</h6>

    <div class="collapse{{ if $isCurrentSection }} show{{ end }}" id="collapse{{ $index }}">
      {{ range $page.Pages }}
      {{ $isCurrent := eq $currentPage . }}
      {{ if .Params.external }}
      <a href="{{ .Params.forward }}" class="d-block">{{ .Title }} <i class="fas fa-external-link-square-alt"></i></a>
      {{ else }}
      <a href="{{ .RelPermalink }}" class="d-block {{ if $isCurrent }}text-primary{{ end }}">
        {{ if $isCurrent}}>{{ end }} {{ .Title }}
      </a>
      {{ end }}
      {{ end }}
    </div>
    {{ else if $page.IsPage }}
    {{ $isCurrent := eq $currentPage .}}

    {{ if $page.Params.external }}
    <a href="{{ $page.Params.forward }}" class="d-block">{{ $page.Title }} <i class="fas fa-external-link-square-alt"></i></a>
    {{ else }}
    <a href="{{ $page.RelPermalink }}" class="d-block {{ if $isCurrent }}text-primary{{ end }}">
      <h6 class="{{ if $isCurrent }}text-primary{{ end }}">{{ if $isCurrent }}>{{ end }} {{ $page.Title }}</h6>
    </a>
    {{ end }}

    {{ end }}
  </div>
  {{ end }}
  {{ end }}
  {{ end }}
</div>
